# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc
*.swp

# Data outputs
testing/data/*.yml
testing/data/*.yaml
testing/data/*.json

# Logs
*.log

# Vagrant
.vagrant/
vagrant/.vagrant/

# VirtualBox artifacts
*.vbox
*.vbox-prev
*.vdi

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# KEYS
*.key
*.pem
*.pub
id_rsa

# Internal files
Organization.md
NOT_UPLOAD

.venv_build

/build
/docs
/lib
/testing/cluster_key