# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc
*.swp

# Data outputs
data/output/*.yml
data/output/*.yaml
data/output/*.json

# Logs
*.log

# Vagrant
.vagrant/
vagrant/.vagrant/

# VirtualBox artifacts
*.vbox
*.vbox-prev
*.vdi

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
